<div id="header">
	<h1>Editing project</h1>
</div>

<%= render 'form' %>

<div id="actions">
	<%= link_to 'Show', admin_project_path(@project) %>
	<%= link_to 'Projects list', admin_projects_path %>
</div>
