/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*
{
	margin: 0px;
	padding: 0px;
	outline: none;
	font-family: 'Sansation', 'Helvetica', sans-serif;
}

.clear
{
	clear: both;
}

a
{
	color: #006b84;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

body
{
	position: relative;
	background-color: #111111;
	background-image: url('../noise.png');
	color: #cccccc;
}

.container
{
	width: 900px;
	margin: auto;
	padding-left: 40px;
	padding-right: 40px;
}

#banner 
{
	min-width: 980px;
	//background-color: #111111;
	//background-image: url('../noise.png');
}

#banner .container
{
	position: relative;
	min-height: 150px;
}

#banner div#logo
{
	position: absolute;
	bottom: 0;
	width: 402px;
	height: 112px;
}

#banner div#logo a
{
	display: block;
	position: relative;
	top: 2px;
	left: 9px;
	width: 402px;
	height: 113px;
	background-image: url('../charta_logo.png');
	background-repeat: no-repeat;
}

#menu
{
	position: relative;
	z-index: 0;
	height: 40px;
	border-top: solid 2px #bbbbbb;
	//background-color: #cccccc;
	//background-image: url('../noise.png');
	text-align: right;
}

#menu .container
{
	background-image: url('../scaffold_connectors.png');
	background-position: top left;
	background-repeat: no-repeat;
	//background-color: red;
}

#menu a
{
	position: relative;
	bottom: 2px;
	display: inline-block;
	height: 30px;
	margin: 0;
	padding: 6px 10px;
	border-top: solid 2px #bbbbbb;
	//background-image: url('../noise.png');
	text-decoration: none;
	font-size: 25px;
	color: #cccccc;
}

#menu a:hover
{
	border-top: solid 2px #333333;
	background-color: #000000;
	background-image: url('../noise.png');
}

#main
{
	min-width: 980px;
	//background-color: #eeeeee;
}

#main .container
{
	min-height: 700px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url('../scaffold.png');
	background-position: top left;
	background-repeat: no-repeat;
	//background-color: black;
}

#dashboard
{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
	//background-color: #111111;
	//background-image: url('../noise.png');
	color: #aaaaaa;
}

#dashboard a
{
	color: #ffffff;
}

#dashboard a:hover
{
	text-decoration: underline;
}
